<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutChangesToGlobalState="false"
         beStrictAboutOutputDuringTests="false"
         executionOrder="default">
  <testsuites>
    <testsuite name="CarbonFooter Plugin Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
    <ini name="display_errors" value="1"/>
  </php>
</phpunit>
